<div class="o-wrapper">
  <section class="c-thanks-form">
    <h1 class="c-thanks-form__title">{{ "Inscription enregistrée" | t }}</h1>
    <div class="c-message c-message--success">
      <p class="c-message__description">
        <i class="icon icon-check"></i>
        {{ "Votre inscription à notre newsletter a bien été enregistrée." | t }}
      </p>
    </div>
  </section>
</div>
