/*----------------------------------------------------------------------------*\
    #Grid hack
\*----------------------------------------------------------------------------*/
.layout {
  overflow: hidden;
}
.layout__item {
  float: left;
  display: block;
}
