// ===========================================================================
// #Basic Styles
// ===========================================================================
.wrapper {
  @include clearfix();
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 $gutter;
}
