html,
body {
  color: $body-color;
  background-color: $body-background;
  font-size: 14px;
  line-height: 1.6;
  font-family: $bodyFontStack;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @include media-query(hands) {
    font-size: 16px;
  }
  @include media-query(lap) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFontStack;
}

// Pixel to EM conversion tool http://pxtoem.com/
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: .9em; }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin-bottom: 1em;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
  margin-left: 1em;
}
li {
  margin-bottom: 0.25em;
}

fieldset {
  border: none;
}
input {
  font-size: 16px;
}