/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.eot");
  src: url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.woff") format("woff"),
       url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.ttf") format("truetype"),
       url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_1bdd1fe34d4892ef8fa376c54942299a.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-down:before,
.icon-check:before,
.icon-envelop:before,
.icon-facebook:before,
.icon-google:before,
.icon-phone:before,
.icon-star:before,
.icon-tripadvisor:before,
.icon-twitter:before,
.icon-warning:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-down:before { content: "\f100"; }
.icon-check:before { content: "\f103"; }
.icon-envelop:before { content: "\f105"; }
.icon-facebook:before { content: "\f106"; }
.icon-google:before { content: "\f10c"; }
.icon-phone:before { content: "\f107"; }
.icon-star:before { content: "\f108"; }
.icon-tripadvisor:before { content: "\f109"; }
.icon-twitter:before { content: "\f10a"; }
.icon-warning:before { content: "\f10b"; }
