// ===========================================================================
// #Colors
// ===========================================================================
$body-background: {{ theme_settings.body-background }};
$body-color: {{ theme_settings.body-color }};
$accent-color: {{ theme_settings.accent-color }};

// Foods
$food-separator-color: #f0f0f0;
$separator-color: #f0f0f0;
