// ===========================================================================
// #General Variables
// ===========================================================================
/* Width variables */
$siteWidth: 960px;
$gutter: 24px;

/* Typography */
$headerFontStack: {{ theme_settings.header-font }};
$bodyFontStack: {{ theme_settings.body-font }};
