.o-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: .5em 2em;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  -webkit-appearance: none;

  &.o-button--has-icon {
    .icon {
      margin-right: .5em;
    }
  }
}
