// Colors
$color__input-hint-error-background: {{ theme_settings.color-input-hint-error-background }};
$color__input-hint-error-text: {{ theme_settings.color-input-hint-error-text }};

.o-form {
  padding: 1em 0;
}
.o-form__title {
  font-size: 2em;
}
.o-form__field-group {
  margin-bottom: .5em;
}
.o-form__input,
.o-form__select,
.o-form__textarea,
.input,
.select,
.textarea {
  margin-bottom: .5em;
}
.o-form__label {
}
.o-form__submit {
  text-align: center;
}

.o-form__input-hint {
  padding: .15em .4em;
}
.o-form__input-hint--error {
  background: $color__input-hint-error-background;
  color: $color__input-hint-error-text;
}

.submit {
  text-align: center;
}

// Messages
.message {
  margin-bottom: 1em;
  padding: .5em 1em;
}
.message__description {
  p {
    margin-bottom: 0;
  }
}
.message--success {
  background-color: #4E6F25;
  color: #fff;
}
.message--notice {
  background-color: #DF5900;
  color: #fff;
}
.message--error {
  background-color: #811515;
  color: #fff;
}
