/*----------------------------------------------------------------------------*\
    #Simple-blocks object
\*----------------------------------------------------------------------------*/

.o-simple-block {
  padding: 1em 0;
}
.o-simple-block__title {
  margin-bottom: .5em;
}
.o-simple-block__content {
}
.o-simple-block__button {
  text-align: center;
}
