<div class="o-wrapper">
  <section class="c-simple-bloc">
    <h1 class="c-simple-bloc__title">{{ "Page introuvable" | t }}</h1>
    <div class="c-message c-message--notice">
      <div class="c-message__description">
        <i class="icon icon-warning"></i> {{ "La page que vous avez demandée n'existe pas." | t }}
      </div>
    </div>

    <div class="c-simple-bloc__button">
      <a class="o-button o-button--red" href="{{ localized_root_path }}">
        {{ "Retour à l'accueil" | t }}
      </a>
    </div>
  </section>
</div>
