<div class="o-wrapper">
  <section class="c-custom-page">
    <h1 class="c-custom-page__title">{{ news.title }}</h1>
    <h5 class="c-custom-page__date">{{ news.date }}</h5>
    <div class="c-custom-page__body">
      {{ news.content }}
    </div>
  </section>
</div>