<div class="o-wrapper">
  <section class="c-custom-page">
    <h1 class="c-custom-page__title">{{ page.title }}</h1>
    <div class="c-custom-page__body">
      {{ page.content }}
    </div>
  </section>
</div>