/*----------------------------------------------------------------------------*\
    #Mixins tools
\*----------------------------------------------------------------------------*/


@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

// @see http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
@mixin media() {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
@mixin media-aside($side: left) {
  float: $side;
}

@mixin media-body() {
  @include media;
}
