// =============================================================
// #Contact
// =============================================================
.contact-item {
  a {
    color: $accent-color;
    text-decoration: none;
    &:hover, &:focus {
      color: #999;
    }
  }
}
.aside--contact {
  @include media-query($min, $medium) {
    float: left;
    font-size: 75%;
    width: floor($siteWidth / 3);
  }
}
  .contact-item__name {
    border-bottom: 1px solid scale-color($body-color, $lightness: +85%);
    color: #444;
    margin-bottom: .5em;
    @include media-query($min, $medium) {
      margin-top: 2.15em;
    }
  }
  .contact-item__label {
    font-weight: 700;
  }
