.foods--featured {
  background-color: scale-color($body-color, $lightness: +95%);
  margin-bottom: 1em;
  padding: 1em 0;
  .section__title {
    color: #444;
    border-bottom: 1px solid scale-color($body-color, $lightness: +85%);
    margin-bottom: .5em;
  }
}

.foods__footer {
  text-align: center;
}
