// ===========================================================================
// #Home
// ===========================================================================
.restaurant-main-image {
  {% if restaurant.main_image? %}
    background-image: url({{ restaurant.main_image | custom_image_url: '1920x480#' }});
  {% endif %}
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $accent-color;
}
  .restaurant-main-image__overlay {
    background-color: rgba(0,0,0, .5);
  }
.restaurant-summary {
  color: #fff;
  padding-top: 4em;
  padding-bottom: 3em;
  text-align: center;
  p {
    font-size: 1.2em;
  }
}
.menus--featured {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1em 0;
  .section__title {
    color: #444;
    border-bottom: 1px solid scale-color($body-color, $lightness: +85%);
    margin-bottom: .5em;
  }
}

.foods--featured {
  background-color: scale-color($body-color, $lightness: +95%);
  margin-bottom: 1em;
  padding: 1em 0;
  .section__title {
    color: #444;
    border-bottom: 1px solid scale-color($body-color, $lightness: +85%);
    margin-bottom: .5em;
  }
}

.menus__footer,
.foods__footer {
  text-align: center;
}
