// ===========================================================================
// #Back to menu
// ===========================================================================
.back-to-menu {
    text-align: center;
    &:before {
      color: #727272;
      content: "\2191";
      display: inline-block;
    }
  }
    .back-to-menu__link {
      color: #727272;
      text-decoration: none;
      &:hover, &:focus {
        color: #000;
      }
    }
