/*----------------------------------------------------------------------------*\
    #Booking component
\*----------------------------------------------------------------------------*/

.c-booking {
  text-align: center;
  padding-top: .5em;
  iframe {
    width: 275px;
  }
}