/*----------------------------------------------------------------------------*\
    #Custom-page component
\*----------------------------------------------------------------------------*/

.c-custom-page {
  padding: 1em 0;
  ol, ul, dl {
    margin-left: 2em;
  }
  ul {
    list-style: disc;
  }
  img {
    height: auto !important;
  }
  a {
    color: $accent-color;
    text-decoration: none;
  }
}
.c-custom-page__title {
}
.c-custom-page__date {
}
.c-custom-page__body {
}
