/*----------------------------------------------------------------------------*\
    #Footer component
\*----------------------------------------------------------------------------*/

.c-footer {
  margin-top: 1em;
  background-color: scale-color($body-color, $lightness: +95%);
  border-top: 1px solid scale-color($body-color, $lightness: +85%);
}
.c-footer__social-items {
  margin: .75em 0;
  text-align: center;
}
.c-footer__social-item {
  display: inline-block;
  vertical-align: middle;
}
.c-footer__social-item-link {
  color: $body-color;
  display: inline-block;
  font-size: 2em;
  padding: .25em;
  text-decoration: none;
  vertical-align: middle;
  &:hover, &:focus {
    color: $accent-color;
  }
}
.c-footer__social-item-link {
  .icon-phone,
  .icon-envelope {
  font-size: .7em;
  }
}
.c-footer__social-item-label {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
.c-footer__nav {
  margin-bottom: 1em;
  text-align: center;
}
.c-footer__item {
  display: inline-block;
}
.c-footer__item--current {
  color: $body-color;
}
.c-footer__item-link {
  text-decoration: none;
  color: scale-color($body-color, $lightness: +25%);
  &:hover, &:focus {
    color: $body-color;
  }
}
.c-footer__item-separator {
  color: scale-color($body-color, $lightness: +25%);
  font-weight: normal;
}
