// ===========================================================================
// #Footer
// ===========================================================================
.c-footer {
  background-color: scale-color($body-color, $lightness: +95%);
  border-top: 1px solid scale-color($body-color, $lightness: +85%);
  @include media-query($min, $small) {
    font-size: 87.5%;
  }
}
.c-footer__back-to-top {
  padding: $gutter;
  text-align: center;
}
.c-footer__back-to-top-link {
  color: scale-color($body-color, $lightness: +25%);
  text-decoration: none;
  &:hover, &:focus {
    color: $body-color;
  }
}
.c-footer__subscribe {
  @include media-query($min, $siteWidth) {
    margin: 0 auto;
    width: 75%;
  }
}
.c-footer__input {
  @include media-query($min, $medium) {
    display: inline-block;
    width: 70%;
  }
}
.c-footer__submit {
  @include media-query($min, $medium) {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 1.6em;
  }
}
.c-footer__button {
  font-size: 14px;
}

.c-footer__social-items {
  margin: .75em 0;
  text-align: center;
}
.c-footer__social-item {
  display: inline-block;
  vertical-align: middle;
}
.c-footer__social-item-link {
  color: $body-color;
  display: inline-block;
  font-size: 2em;
  padding: .25em;
  text-decoration: none;
  vertical-align: middle;
  &:hover, &:focus {
    color: $accent-color;
  }
}
.c-footer__social-item-link {
  .icon-phone,
  .icon-envelope {
  font-size: .7em;
  }
}
.c-footer__social-item-label {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
.c-footer__nav {
  margin-bottom: 1em;
  text-align: center;
}
.c-footer__item {
  display: inline-block;
}
.c-footer__item--current {
  color: $body-color;
}
.c-footer__item-link {
  text-decoration: none;
  color: scale-color($body-color, $lightness: +25%);
  &:hover, &:focus {
    color: $body-color;
  }
}
.c-footer__item-separator {
  color: scale-color($body-color, $lightness: +25%);
  font-weight: normal;
}
