// ===========================================================================
// #Footer
// ===========================================================================
.main-footer {
  background-color: scale-color($body-color, $lightness: +95%);
  border-top: 1px solid scale-color($body-color, $lightness: +85%);
}
  .reserve-module {
    text-align: center;
    padding-top: .5em;
  }
  .back-to-top {
    padding: $gutter;
    text-align: center;
  }
    .back-to-top__link {
      color: scale-color($body-color, $lightness: +25%);
      text-decoration: none;
      &:hover, &:focus {
        color: $body-color;
      }
    }
      .back-to-top__label {
      }
  .footer__subscribe {
    @include media-query($min, $siteWidth) {
      margin: 0 auto;
      width: 75%;
    }
    @include media-query($min, $medium) {
      .input {
        display: inline-block;
        width: 70%;
      }
      .submit {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        margin-top: 1.65em;
      }
    }
  }
  .footer__social {
  }
    .social__items {
      margin: .75em 0;
      text-align: center;
    }
      .social__item {
        display: inline-block;
        vertical-align: middle;
      }
        .social__link {
          color: $body-color;
          display: inline-block;
          font-size: 2em;
          padding: .25em;
          text-decoration: none;
          vertical-align: middle;
          &:hover, &:focus {
            color: $accent-color;
          }
        }
        .social__link .icon-phone,
        .social__link .icon-envelope {
          font-size: .7em;
        }
          .social__label {
            height: 1px;
            width: 1px;
            position: absolute;
            overflow: hidden;
            top: -10px;
          }

  .footer__legal {
    margin-bottom: 1em;
    text-align: center;
  }
    .legal__link {
      color: scale-color($body-color, $lightness: +25%);
      text-decoration: none;
      &:hover, &:focus {
        color: $body-color;
      }
    }
    .footer__local-choice {
      display: inline-block;
    }
      .footer__local-choice-item {
        text-decoration: none;
        color: scale-color($body-color, $lightness: +25%);
        &:hover, &:focus {
          color: $body-color;
        }
      }
      .footer__local-choice-item--current {
        color: $body-color;
      }
      .footer__local-separator {
        color: scale-color($body-color, $lightness: +25%);
        font-weight: normal;
      }
