// Colors
$color__input-hint-error-background: {{ theme_settings.color-input-hint-error-background }};
$color__input-hint-error-text: {{ theme_settings.color-input-hint-error-text }};

.c-form {
  padding: 1em 0;
}
.c-form__title {
  font-size: 2em;
  margin-bottom: .25em;
}
.c-form__description {
  margin-bottom: 1em;
}
.c-form__label {
}
.c-form__input,
.c-form__textarea {
  display: block;
  width: 100%;
  border: 1px solid #DDDDDD;
  margin: 0;
  padding: .2rem;
}
.c-form__submit {
  text-align: center;
}

.c-form__input-hint {
  padding: .15em .4em;
}

.c-form__input-hint--error {
  background: $color__input-hint-error-background;
  color: $color__input-hint-error-text;
}