// ===========================================================================
// #Form
// ===========================================================================
.field-group {
  margin-bottom: .5em;
}
  .field-group__legend {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: .5em;
  }

.input,
.select,
.textarea {
  margin: 0 0 .5em 0;
}
  .input-hint {
    padding: .15em .4em;
  }
  .input-hint--info {
    background: #68708A;
    color: #fff;
  }
  .input-hint--error {
    background: #DF5900;
    color: #fff;
  }

.submit {
  text-align: center;
}

// Messages
.message {
  margin-bottom: 1em;
  padding: .5em 1em;
}
  .message__description {
    p {
      margin-bottom: 0;
    }
  }
.message--success {
  background-color: #4E6F25;
  color: #fff;
}
.message--notice {
  background-color: #DF5900;
  color: #fff;
}
.message--error {
  background-color: #811515;
  color: #fff;
}
