// Colors
$color__menu-featured-background: {{ theme_settings.color-menu-featured-background }};

.c-menu {
  padding-bottom: 1em;
}
.c-menu--featured {
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: $color__menu-featured-background;
}
.c-menu__image {
}
.c-menu__title {
  color: $body-color;
  margin-bottom: .5em;
}
.c-menu__description {
  font-size: 1em;
  margin-bottom: 1.5em;
}
