.c-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include media-query($min, $siteWidth) {
    position: relative;
    text-align: center;
  }
}
.c-nav__toggle {
  display: none;
  float: right;
  width: 7em;
  height: 3.9em;
  text-align: left;
  text-indent: -9999px;
  background-color: $accent-color;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    left: 10%;
    right: 60%;
    content: '';
  }
  &:before {
    top: 25%;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    height: 13px;
  }
  &:after {
    border: 2px solid #fff;
    top: 60%;
  }
  @include media-query($min, $small) {
    width: 5.5em;
    height: 3.1em;
  }
  @include media-query($min, $siteWidth) {
    display: none !important;
  }
}
.c-nav__toggle-link {
  position: absolute;
  right: 7px;
  top: 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  @include media-query($min, $small) {
    font-size: .75em;
  }
  @include media-query($min, $siteWidth) {
    display: none;
  }
}
.toggle--close {
  background-color: $accent-color;
}
.c-nav:not(:target) .toggle--open,
.c-nav:target .toggle--close {
  display: block;
}
.c-nav__items {
  background-color: $accent-color;
  display: none;
  height: auto;
  margin-bottom: 0;
  clear: both;
  @include media-query($min, $siteWidth) {
    display: block;
  }
}
.c-nav:target .c-nav__items {
  display: block;
  width: 100%;
}
.c-nav__item {
  &:not(:last-child) {
    border-bottom: 1px solid scale-color($accent-color, $lightness: +25%);
  }
  display: block;
  margin: 0;
  @include media-query($min, $siteWidth) {
    display: inline-block;
    &:not(:last-child) {
      border-bottom: none;
    }
  }
}
.c-nav__item--current {
  background-color: scale-color($accent-color, $lightness: -15%);
}
.c-nav__link {
  color: #fff;
  display: block;
  height: auto;
  padding: 0.75em 1em;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  &:hover, &:focus {
    background-color: scale-color($accent-color, $lightness: -15%);
  }
  &:active {
    background-color: scale-color($accent-color, $lightness: -30%);
  }
  @include media-query($min, $small) {
    font-size: 1em;
  }
  @include media-query($min, $siteWidth) {
    display: inline-block;
  }
}

.has-sub-nav {
  span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: scale-color($accent-color, $lightness: +50%);
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
  }
  &:hover > .c-nav__sub-items {
    display: block;
  }
}

.c-nav__sub-items {
  background-color: scale-color($accent-color, $lightness: -10%);
  display: none;
  margin-bottom: 0;
  @include media-query($min, $siteWidth) {
    position: absolute;
  }
}
.c-nav__sub-item {
  display: block;
  margin: 0;
  &:not(:last-child) {
    border-bottom: 1px solid scale-color($accent-color, $lightness: +5%);
  }
  @include media-query($min, $siteWidth) {
    display: block;
    text-align: left;
  }
}
.c-nav__sub-item--current {
  background-color: scale-color($accent-color, $lightness: -15%);
}
.c-nav__sub-link {
  color: #fff;
  display: block;
  height: auto;
  padding: 0.75em 1em;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  &:hover, &:focus {
    background-color: scale-color($accent-color, $lightness: -15%);
  }
  &:active {
    background-color: scale-color($accent-color, $lightness: -30%);
  }
  font-weight: 400;
  padding-left: 1.5em;
  @include media-query($min, $siteWidth) {
    display: block;
    padding-left: 1em;
  }
}
