.c-news {
  margin: 1em auto 2em auto;
}
.c-news__body {
}
.c-news__title {
  margin-bottom: 16px;
}
.c-news__title-link {
  text-decoration: none;
  color: $body-color;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  transition: color .25s;
  &:hover {
    color: $accent-color;
  }
}
.c-news__the-news {
  @include media-query(lap) {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
.c-news__the-news-link {
  color: $body-color;
  text-decoration: none;
}
.c-news__the-news-content-wrapper {
  width: 100%;
  padding: 0;
  @include media-query(lap) {
    width: 70%;
    float: right;
    padding: 1em 2em;
  }
}
.c-news__the-news-content-wrapper--no-image {
  @include media-query(lap) {
    width: 100%;
  }
}
.c-news__the-news-content {
}
.c-news__the-news-date {
  font-weight: bold;
  margin-bottom: .5em;
  font-size: .75em;
}
.c-news__the-news-title {
  font-size: 1.75em;
  font-weight: bold;
}
.c-news__the-news-image {
  width: 100%;
  display: block;
  height: 300px;
  background-position: center center;
  @include media-query(lap) {
    position: absolute;
    width: 30%;
    display: block;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
.c-news__the-news-summary {
  margin-bottom: 0;
  padding-top: .75em;
}
.c-news__separator {
  border: 1px solid $separator-color;
  margin: 1.5em 0;
}
