// ===========================================================================
// #Tags
// ===========================================================================
.food__tags {
}
.tag {
  font-size: .95em;
  border-radius: .25em;
  padding: .2em .4em;
  background-color: #AAAAAA;
  color: #FFFFFF;
}
{% for tag in tags %}
  .tag--{{tag.css_class}} {
    {% if tag.background_value != "" %}
      background-color: {{ tag.background_value }};
    {% endif %}
    {% if tag.color_value != "" %}
      color: {{ tag.color_value }};
    {% endif %}
  }
{% endfor %}
