/*----------------------------------------------------------------------------*\
    #Thanks-form component
\*----------------------------------------------------------------------------*/

.c-thanks-form {
  padding: 1em 0;
}
.c-thanks-form__title {
  font-size: 2em;
  margin-bottom: .25em;
}
