<div class="o-wrapper">
  <section class="c-thanks-form">
    <h1 class="c-thanks-form__title">{{ contact_settings.thanks_title }}</h1>
    <div class="c-message c-message--success">
      <p class="c-message__description">
        {{ contact_settings.thanks_content }}
      </p>
    </div>
  </section>
</div>
